In [2]:
import pandas as pd

In [28]:
plain_data = pd.read_csv('./titanic_data/train.csv', index_col=0)
plain_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
y_train = plain_data['Survived']

In [34]:
plain_data.columns

Index([u'Survived', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [74]:
plain_data.replace(to_replace='male', value=1, inplace=True)
plain_data.replace(to_replace='female', value=0, inplace=True)
temp = plain_data
embarked_dict = {'C':1, 'Q':2, 'S':3}
temp['Embarked'].replace(to_replace=embarked_dict)
temp

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,3.0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1.0
3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,3.0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,3.0
5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,3.0
6,0,3,"Moran, Mr. James",1,NaN,0,0,330877,8.4583,NaN,2.0
7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,3.0
8,0,3,"Palsson, Master. Gosta Leonard",1,2.0,3,1,349909,21.0750,NaN,3.0
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,0,2,347742,11.1333,NaN,3.0
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,1,0,237736,30.0708,NaN,1.0
11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,3.0
12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,3.0
13,0,3,"Saundercock, Mr. William Henry",1,20.0,0,0,A/5. 2151,8.0500,NaN,3.0
14,0,3,"Andersson, Mr. Anders Johan",1,39.0,1,5,347082,31.2750,NaN,3.0
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0,0,0,350406,7.8542,NaN,3.0
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0,0,0,248706,16.0000,NaN,3.0
17,0,3,"Rice, Master. Eugene",1,2.0,4,1,382652,29.1250,NaN,2.0
18,1,2,"Williams, Mr. Charles Eugene",1,NaN,0,0,244373,13.0000,NaN,3.0
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0,1,0,345763,18.0000,NaN,3.0
20,1,3,"Masselmani, Mrs. Fatima",0,NaN,0,0,2649,7.2250,NaN,1.0
21,0,2,"Fynney, Mr. Joseph J",1,35.0,0,0,239865,26.0000,NaN,3.0
22,1,2,"Beesley, Mr. Lawrence",1,34.0,0,0,248698,13.0000,D56,3.0
23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.0,0,0,330923,8.0292,NaN,2.0
24,1,1,"Sloper, Mr. William Thompson",1,28.0,0,0,113788,35.5000,A6,3.0
25,0,3,"Palsson, Miss. Torborg Danira",0,8.0,3,1,349909,21.0750,NaN,3.0
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.0,1,5,347077,31.3875,NaN,3.0
27,0,3,"Emir, Mr. Farred Chehab",1,NaN,0,0,2631,7.2250,NaN,1.0
28,0,1,"Fortune, Mr. Charles Alexander",1,19.0,3,2,19950,263.0000,C23 C25 C27,3.0
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,NaN,0,0,330959,7.8792,NaN,2.0
30,0,3,"Todoroff, Mr. Lalio",1,NaN,0,0,349216,7.8958,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",1,21.0,1,0,28134,11.5000,NaN,3.0
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.0,0,0,17466,25.9292,D17,3.0
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,NaN,8,2,CA. 2343,69.5500,NaN,3.0
865,0,2,"Gill, Mr. John William",1,24.0,0,0,233866,13.0000,NaN,3.0
866,1,2,"Bystrom, Mrs. (Karolina)",0,42.0,0,0,236852,13.0000,NaN,3.0
867,1,2,"Duran y More, Miss. Asuncion",0,27.0,1,0,SC/PARIS 2149,13.8583,NaN,1.0
868,0,1,"Roebling, Mr. Washington Augustus II",1,31.0,0,0,PC 17590,50.4958,A24,3.0
869,0,3,"van Melkebeke, Mr. Philemon",1,NaN,0,0,345777,9.5000,NaN,3.0
870,1,3,"Johnson, Master. Harold Theodor",1,4.0,1,1,347742,11.1333,NaN,3.0
871,0,3,"Balkic, Mr. Cerin",1,26.0,0,0,349248,7.8958,NaN,3.0
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,1,1,11751,52.5542,D35,3.0
873,0,1,"Carlsson, Mr. Frans Olof",1,33.0,0,0,695,5.0000,B51 B53 B55,3.0
874,0,3,"Vander Cruyssen, Mr. Victor",1,47.0,0,0,345765,9.0000,NaN,3.0
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.0,1,0,P/PP 3381,24.0000,NaN,1.0
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.0,0,0,2667,7.2250,NaN,1.0
877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.0,0,0,7534,9.8458,NaN,3.0
878,0,3,"Petroff, Mr. Nedelio",1,19.0,0,0,349212,7.8958,NaN,3.0
879,0,3,"Laleff, Mr. Kristo",1,NaN,0,0,349217,7.8958,NaN,3.0
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,0,1,11767,83.1583,C50,1.0
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.0,0,1,230433,26.0000,NaN,3.0
882,0,3,"Markun, Mr. Johann",1,33.0,0,0,349257,7.8958,NaN,3.0
883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.0,0,0,7552,10.5167,NaN,3.0
884,0,2,"Banfield, Mr. Frederick James",1,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,3.0
885,0,3,"Sutehall, Mr. Henry Jr",1,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,3.0
886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.0,0,5,382652,29.1250,NaN,2.0
887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,3.0
888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,3.0
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,3.0
890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,1.0
891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,2.0

In [77]:
temp.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.00,NaN,3.0
888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.00,B42,3.0
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.45,NaN,3.0
890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.00,C148,1.0
891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.75,NaN,2.0